<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>说明页</title>
</head>
<body>
  <h3>恭喜您已经注册成功！</h3>
  <h4>请先阅读以下内容了解以下吧：</h4>


  <p>说用说明：</p>
    
</body>
</html>