<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>书签同步 - 登录</title>
</head>
<body>
   <div class="login">
      <label>邮箱：</label>
      <input type="text"  /><br/>
       <label>密码：</label>
      <input type="password"   /><br/>
      <button id="submit">登录</button>
       <a id="register" href="register">注册</a>
      
   </div> 
</body>
<script src="js/jquery.min.js"></script>
<script>
 


 
  
</script>
</html>